body {
    overflow-x: hidden;
}


/* Navbar and Sidebar */

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

i {
    margin-right: 5px;
}

.fa-plus {
    margin-right: 0px;
}

#profile-navbar {
    border-radius: 50%;
    height: 35px;
}

.list-group-item {
    border-color: white;
}

.list-group-item-active {
    background-color: #1d2124!important;
}


/* Tickets */

.item-list {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.ticket-info:hover {
    text-decoration: none;
}

.alert {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.alert:hover {
    transform: scale(1.05);
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.grow:focus {
    outline: none;
}

.container-fluid {
    padding: 0;
}

.col-sm {
    margin-top: 25px;
}

hr.style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 10px 0;
}

.badge {
    margin-left: 15px;
}


/* Upgrade */

#page-content-wrapper {
    /* background: rgb(164, 207, 226);
    background: linear-gradient(to right, rgb(164, 207, 226), rgb(153, 176, 187)) */
    background: rgb(238, 238, 238);
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

.btn-orange {
    background-color: rgb(91, 143, 163);
    color: white;
}

.btn-orange:hover {
    color: white;
}

.btn-orange:focus {
    outline: white;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}


/* Hub */


/* Charts */

#incident-chart {
    max-width: 425px;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
}

#incident-pie {
    max-width: 425px;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
}

canvas {
    display: block;
    float: left;
}